@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Open+Sans:wght@400;500&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #E6DBCF;
  background-color: #2D3123;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-title: 'Montserrat', sans-serif;
  --font-text: 'Montserrat', sans-serif;
  --light-bg: #F9F9F9;  /* Fondo claro */
  --primary-dark: #476042; /* Verde oscuro (para títulos y botones) */
  --primary-light: #E6DBCF; /* Beige (para detalles) */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
} 

body {
  display: flex;
  place-items: center;
  font-family: var(--font-text);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h1, h2, h3, h4 {
  font-family: var(--font-title);
  font-weight: 600;
}
.form-control {
  padding: 2rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #7B5A3C;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* .close-button {
  position: absolute;
  top: 1px;
  left: 250px;
  font-size: 1.6rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #2D3123;
  padding: 100%;
  line-height: 1;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* Hace que el contenido principal ocupe todo el espacio disponible */
}